.cart-wrapper {
 width: 100%;
}
.cart-wrapper table {
 width: 100%;
 text-align: center;
 border: 1px solid #eee;
 box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}
.cart-wrapper table tr td,
th {
 padding: 1rem;
 font-size: 1.1rem;
 color: #333;
}
@media (max-width: 600px) {
 .cart-wrapper table tr td,
 th {
  padding: 0.6rem;
 }
}
.cart-wrapper table thead {
 background-color: var(--green);
}
.cart-wrapper table thead th {
 color: #fff !important;
 font-weight: bold;
 font-size: 1.1rem;
}
.cart-wrapper table tbody tr:nth-child(even) {
 background-color: #eee;
}
.cart-wrapper table tr td .quantity {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 0.5rem;
}
.cart-wrapper table tr td .quantity span {
 background-color: #fff;
 color: #333;
 font-weight: bold;
 padding: 0.5rem 1rem;
 border-radius: 0.3rem;
}
.cart-wrapper table tr:nth-child(even) td .quantity span {
 background-color: #eee;
}
table img {
 max-width: 100%;
 max-height: 100%;
 width: 5rem;
 height: 6rem;
}
table .btn {
 padding: 0.7rem !important;
 font-size: 1.1rem;
}
/* table .btn.btn-danger {
 margin: 1rem auto;
} */
table .btn.btn-danger:hover i {
 animation: trash 0.5s linear;
}
@keyframes trash {
 0%,
 50%,
 100% {
  transform: rotate(0deg);
 }
 25% {
  transform: rotate(15deg);
 }
 75% {
  transform: rotate(-15deg);
 }
}
.cart-checkout {
 width: 500px;
 max-width: 100%;
 float: right;
 border: 1px solid #eee;
 box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
 border-radius: 0.5rem;
 padding: 1rem;
 color: #333;
 margin-top: 2rem;
 margin-bottom: 2rem;
}
.cart-checkout h3 {
 position: relative;
 font-size: 1.6rem;
 font-weight: bold;
 margin-bottom: 2rem;
}
.cart-checkout h3::after {
 position: absolute;
 content: "";
 width: 100%;
 bottom: -1rem;
 left: 0;
 height: 1px;
 background-color: #333;
}
.cart-checkout p {
 font-size: 1.4rem;
 margin: 1rem 0;
}
.cart-checkout p b {
 margin-right: 0.5rem;
}
.cart-checkout p.total {
 font-size: 1.5rem;
 position: relative;
 margin-top: 2rem;
}
.cart-checkout p.total span {
 color: var(--green);
}
.cart-checkout p.total::before {
 position: absolute;
 content: "";
 width: 100%;
 top: -1.5rem;
 left: 0;
 height: 1px;
 background-color: #333;
}
.cart-checkout .btn {
 margin: 0.7rem;
 display: inline-block;
}
.no-books {
 width: 100%;
 gap: 1.5rem;
 font-size: 2rem !important;
 color: red !important;
 font-weight: bold;
}
.no-books .btn {
 margin-left: 1.5rem;
 margin-top: 0;
}
